.question {
    border-bottom: 1px solid Black;
    padding: 10px 0;
    font-size: 30px;
    margin-left: 10px;
    color: #9B1536;
  }
  
  .question input,
  .question .answer { display: none }
  
  .question label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%
  }
  
  .question input:checked ~ .answer {
    display: block
  }

  .coisa{
    margin-top: 80px;
  }