.lista-arquivos {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .lista-arquivos h1 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 100px;
  }
  
  .lista-arquivos ul {
    list-style-type: none;
    padding: 0;
  }
  
  .lista-arquivos li {
    margin-bottom: 10px;
  }
  
  .lista-arquivos a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .lista-arquivos a:hover {
    text-decoration: underline;
  }
  